beautifulsoup4==4.8.0
Django==2.2.6
django-bootstrap4==1.0.1
django-ckeditor==5.7.1
django-comments-xtd==2.4.1
django-contrib-comments==1.9.1
django-forms-builder==0.4.7
django-js-asset==1.2.2
django-materialize==1.0.1a2
django-materializecss-form==1.1.14
djangorestframework==3.10.3
docutils==0.15.2
mysqlclient==1.4.4
Pillow==6.2.0
psycopg2==2.8.3
pytz==2019.2
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
