<footer class="container-fluid page-footer light-blue lighten-3">
			<div class="container">
				<div class="card light-blue lighten-3 hoverable">
						<div class="card-content white-text">
							<span class="card-title">Footer Information</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
			</div>
		
			<div class="footer-copyright grey darken-4">
			<div class="container center-align">Cyber Tech &copy; <script type="text/javascript">var now = new Date(); year = now.getFullYear() ; document.write(year);</script> | All Rights Reserved.

			<p>
				<script type="text/javascript">var now = new Date().toString(); document.write(now);</script>
			</p>
			</div>	
   </footer>