<div class="container">
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo red-text lighten-2">{{ title }}</a>   
            <ul class="hide-on-med-and-down right">               
                <li>    
                    <div class="center row">
                        <div class="col s12 " >
                        <div class="row" id="topbarsearch">
                            <div class="input-field col s6 s12 red-text">
                            <i class="red-text material-icons prefix">search</i>
                            <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete red-text" >
                            </div>
                            </div>
                        </div>
                        </div>          
                    </li>                     
                <li><a href="/patients/" class="red-text">Management</a></li>
                <li><a href="#" class="red-text">Link 2</a></li>
                <li><a href="#" class="red-text">Link 3</a></li>
            </ul>
        </div>
    </nav>
</div>