<!DOCTYPE html>
<html>
    <head>
        <title>CyberTech</title>

	   {% load staticfiles %}

         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="{% static 'assets/img/favicon/favicon.png' %}" rel="shortcut icon"/>
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.min.css' %}" media="screen, projection">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen, projection">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        {% block content %}
        
                

        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </body>
</html>    