{% load staticfiles %}
    <div class="row" style="padding-top:120px;">
        <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'images/photos-1.jpg' %});"></div>
        <div class="col-sm-3 offset-sm-4">
            <h5 style="color:#1bb6d1;">{{ title }}</h5>
            <form method="POST" action="."> {% csrf_token %}

                {{ form.as_p }}
                {% if not login %}
                    <p style="color: #1099f3;">Not registered yet? Click <a href="/login/" style="color: #f70611;">Here</a></p>
                {% else %}
                    <p style="color: #1099f3;">Already registered? Click <a href="/register/" style="color: #f70611;">Here</a></p>
                {% endif %}
                <button type="submit" class="btn btn-primary mb-2">{{ button }}</button>
            </form>
        </div>
    </div>
