{% extends "HealthNet/base.html" %}
{% load js %}

{% block content %}
<html>
  <head>
      {% load static %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chart.css' %}">
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Condition', 'People Affected'],
          ['Influenza',     12],
          ['Alzheimers',      2],
          ['Toothaches',  2],
          ['Headache', 2],
          ['HIV & AIDS', 7],
          ['Cancer', 3],
          ['Diabetes', 2],
          ['STI Infection', 5],
          ['Pregnant Women', 8],
        ]);
        var options = {
          title: 'Patient Visit Report',
          backgroundColor: '#95A5A6',
          is3D: true,
          'chartArea': {
              'backgroundColor': {
                  'fill': '#95A5A6',
                  'opacity': 99,
                  'fillOpacity': 0.8
     },
 }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
      <h4 class="display-4">{{ title }}</h4>
    <div id="piechart_3d"></div>
  </body>
</html>
{% endblock %}
