{% extends "HealthNet/base.html" %}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

<h3 class="card-title">{{ title }}</h3>
<hr>
<div class="card text-white bg-dark card-accent-success mb-3">
  <div class="card-header">
      <h3 class="text-info"><b>{{ patient.first_name }} {{ patient.last_name }}'s {{title}}</b></h3>
  </div>
  <div class="card-body">
      <div class="card-text">
          <h5 class="card-title">Full Name :                {{ patient.first_name }} {{ patient.last_name }}</h5>
          <!-- <div class="form-row""> -->
              <p class="card-text text-primary">Date of Birth       :       {{patient.date_of_birth}}</p>
              <p class="card-text text-secondary">Gender            :       {{ patient.gender }}</p>
              <p class="card-text text-warning">National ID         :       {{ patient.national_id }}</p>
              <p class="card-text text-info">Physical Address       :       {{ patient.home_address }}</p>
              <p class="card-text text-success">Phone Number        :       {{ patient.phone_number }}</p>
              <p class="card-text text-warning">Email Address       :       {{ patient.email_address }}</p>
              <p class="card-text text-danger">Reason for Visit     :       {{ patient.purpose_of_visit }}</p>
              <p class="card-text text-info">Condition Description  :       <i style="color:green;">{% autoescape off %} {{ patient.description_of_the_condition }} {% endautoescape %}</i></p>
              <p class="card-text text-primary">Current Medication  :       {{ patient.current_medication }}</p>
              <p class="card-text text-secondary">Prescription      :       {{ patient.prescription }}</p>
              <p class="card-text text-success">Body Temperature    :       {{ patient.current_temperature }} &deg C</p>
              <p class="card-text text-info">Body Mass              :       {{ patient.body_mass }} Kilogrammes</p>
              <p class="card-text text-danger">Blood Type           :       {{ patient.blood_type }}</p>
              <p class="card-text text-warning">Patient Allergies   :       {{ patient.allergies }}</p>
              <p class="card-text text-light">Medical AID Group     :       {{ patient.medical_aid_group }}</p>
              <p class="card-text text-success">Consulted Doctor    :       {{ patient.consulted_doctor }}</p>
          <p class="card-text text-danger">Assigned To             :       {{ patient.user }}</p>
          <p class="card-text text-light">Consultation Fee     :      $ {{ patient.consultation_fee }}</p>
              <p class="card-text text-primary">Date of Visit       :       {{ patient.date_of_visit }}</p>
              <p class="card-text text-info">Created At             :       {{ patient.created_at }}</p>
              <p class="card-text text-secondary">Information Update:     {{ patient.updated_at }}</p>
          <!-- </div> -->
      </div>
  </div>
</div>

<br>
 <a href="/HealthNet/patients/edit_patient/{{ patient.id }}/" class="btn btn-info">Edit</a>
 <a href="/HealthNet/patients/delete_patient/{{ patient.id }}/" class="btn btn-danger">Delete</a>
<br>
<br>

{% endblock  %}
