{% extends "HealthNet/base.html" %}

{% block content %}
<ul class='list-group offset-md-2'>
    <h3 class="card-title">{{ title }}</h3>
    <div class="col-md-9">
        <a href="/HealthNet/Doctors/add_doctor/" style='float: right;' class="btn btn-warning btn-sm">Add New Doctor</a>
    </div>
    <hr>
    <!-- <a href="/HealthNet/staff/add_doctor/" style="float: right; margin-bottom: 20px;" class="btn btn-warning btn-sm">New Doctor</a> -->
    {% for doctor in doctor %}
    <div class="card card-accent-success mb-4" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if doctor.picture %}
                <img src="{{ doctor.picture.url }}" class="card-img img-responsive" alt="Image Coming Up" height="350" width="400">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-info">{{ doctor.title }} {{ doctor.first_name }} {{ doctor.last_name }}</h5>
                    <p class="card-text text-success">Qualification    :   {{ doctor.qualification }}</p>
                    <p class="card-text text-dark">Specialty    :   {{ doctor.specialty }}</p>
                    <p class="card-text text-info">Identification    :   {{ doctor.identification_id }}</p>
                    <p class="card-text text-warning">Phone Number    :   {{ doctor.phone_number }}</p>
                    <p class="card-text text-secondary"><i>Email Address    :   {{ doctor.doctor_email }}</i></p>
                    <p class="card-text text-danger"><small class="text-muted"><i>Last updated {{ doctor.updated_at }}</i></small></p>
                    <a href="/HealthNet/Doctors/update_doctor/{{ doctor.id }}" class="btn btn-info"><i class="glyphicon-pencil"></i>Edit</a>
                    <a href="/HealthNet/Doctors/delete_doctor/{{ doctor.id }}" class="btn btn-danger">Delete</a>
                
                    <a href="/HealthNet/Doctors/patients/{{ patient.consulted_doctor_id }}" class="btn btn-warning">View Patients</a>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
