{% extends "HealthNet/base.html" %}
{% load crispy_forms_tags %}

  {% include 'HealthNet/inc/nav.html' %}
    <!-- <div class="container"> -->
    {% block content %}

      <form method="POST" action="." enctype="multipart/form" class="needs-validation ">{% csrf_token %}
          <!-- <div class="form-row"> -->
              <!-- <div class="col-md-4 mb-3"> -->


                  {{ form|crispy }}
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            <!-- </div> -->
        <!-- </div> -->
      </form>
    <!-- </div> -->
    <br>

    <script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>

    {% endblock content %}
