{% extends "HealthNet/base.html" %}
{% include "patients/include/nav.html" %}

{% load static %}


{% block content %}
    <!-- Here comes the beautiful design of the dashboard Using Cards-->
    <!-- <div class="container"> -->
      <div class="row">
			<div class="card" style="width: 20rem;">
				<div class="card-header">
					{{title}}
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/" class="btn btn-primary">Go Home</a>
				</div>
			</div>

			<div class="card" style="width: 20rem;">
				<div class="card-header">
					All Patients
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/patients/view_all" class="btn btn-primary">View All Patients</a>
				</div>
			</div>

			<div class="card" style="width: 20rem;">
				<div class="card-header">
					Add Patient
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/patients/patient_form/" class="btn btn-primary">Add New Patient</a>
				</div>
			</div>

			<div class="card" style="width: 20rem;">
				<div class="card-header">
					Add Patient
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/patients/patient_form/" class="btn btn-primary">Add New Patient</a>
				</div>
			</div>
			<div class="card" style="width: 20rem;">
				<div class="card-header">
					Add Patient
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/patients/patient_form/" class="btn btn-primary">Add New Patient</a>
				</div>
			</div>

			<div class="card" style="width: 20rem;">
				<div class="card-header">
					{{ title }}
				</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to addition</p>
						<a href="/HealthNet/patients/patient_form/" class="btn btn-primary">Add New Patient</a>
				</div>
			</div>
      </div> <!-- Row Div -->
  <!-- </div> <!-- Container div --> -->

  <!-- Dashboard Design Ends Here -->


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="assets/js/materialize.min.js"></script>

{% endblock content %}
