{% extends "HealthNet/base.html" %}
{% include "patients/include/nav.html" %}

{% load static %}

{% block content %}
    <!-- Here comes the beautiful design of the dashboard Using Cards-->
    <h3 class="card-title">{{ title }}</h3>
      <div class="row">
			<div class="card text-white bg-info mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Add Patient</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">New Patient</h5>
					<p class="card-text">Recording of walk in patients</p>
                    <p class="card-text">Form for recording new patients that visit</p>
						<a href="/HealthNet/patients/patient_form/" class="btn btn-warning">Add New Patient</a>
				</div>
			</div>

            <div class="card text-white bg-secondary mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>All Patients</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">View All Patients in the System</h5>
					<p class="card-text">Check out our ever growing database containing patient data</p>
						<a href="/HealthNet/patients/view_all" class="btn btn-danger">View All Patients</a>
				</div>
			</div>


            <div class="card text-white bg-dark mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Add Doctor</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">Add a Medical Practitioner</h5>
					<p class="card-text">Add a new doctor to a list of our Medical Practioners.</p>
						<a href="/HealthNet/Doctors/add_doctor/" class="btn btn-warning">Add Doctors</a>
				</div>
			</div>

			<div class="card text-white bg-warning mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Check Doctors</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">Medical Practitioners</h5>
					<p class="card-text">Check out a list of our skilled medical personnel currently working with us to provide the municiaplty with the best medical health care the people can get.</p>
						<a href="/HealthNet/Doctors/all/" class="btn btn-info">View Doctors</a>
				</div>
			</div>

            <div class="card text-white bg-dark mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Add Staff Member</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">New Staff Member</h5>
					<p class="card-text">Keeping track of all personnel staff members of our organisation</p>
						<a href="/HealthNet/Staff/new_member/" class="btn btn-info">Add Staff Member</a>
				</div>
			</div>

            <div class="card text-white bg-info mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Hospital Staff</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">Hospital Personnel</h5>
					<p class="card-text">Because we work with sensitive data, that is individual's most private and intimate information, our system has to be totally secured and we have to keep a tight list of how many people have access to it to minimise information leaks.</p>
						<a href="/HealthNet/Staff/all_members/" class="btn btn-danger">View Staff</a>
				</div>
			</div>

            <!-- <div class="card text-white bg-danger mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Reports</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">Check out latest Reports</h5>
					<p class="card-text">Because we aim to please we have provided the option for generating reports that are based on certain trends. the first trend we are on the lookout for is that of diseases outbreak, if say a particular pattern is repetitive it has to be flagged for close monitoring so that immediate action and steps can be taken</p>
						<a href="/HealthNet/patients/reports/" class="btn btn-warning">See Reports</a>
				</div>
			</div> -->

            <div class="card text-white bg-secondary mb-3" style="width: 23rem;">
				<div class="card-header">
					<b>Reports</b>
				</div>
				<div class="card-body">
					<h5 class="card-title">Check out latest Reports</h5>
					<p class="card-text">Because we aim to please we have provided the option for generating reports that are based on certain trends. the first trend we are on the lookout for is that of diseases outbreak, if say a particular pattern is repetitive it has to be flagged for close monitoring so that immediate action and steps can be taken</p>
						<a href="/HealthNet/statistics/" class="btn btn-warning">Reports</a>

				</div>
			</div>
      </div> <!-- Row Div -->

  <!-- Dashboard Design Ends Here -->
{% endblock content %}
