{% extends "HealthNet/base.html" %}

{% block content %}

<ul class="list-group offset-md-2">
    <h3 class="card-title">{{ title }}</h3>
    <div class="col-md-11 offset-md-1 mb-4">
        <a href="/HealthNet/staff/new_member/" style='float: right;' class="btn btn-success btn-md">Add New Member</a>
    </div>
{% for member in members %}
<div class="card card-accent-success mb-4" style="max-width: 800px;">
    <div class="card-header">
        <h5 class="card-title text-danger">{{ member.title }} {{ member.first_name }} {{ member.last_name }}</h5>
    </div>
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if member.picture %}
            <img src="{{ member.picture.url }}" class="card-img img-responsive" alt="Image Coming Up" height="350" width="400">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text text-dark">Position    :   {{ member.position }}</p>
                <p class="card-text text-info">Identification    :   {{ member.identification_id }}</p>
                <p class="card-text text-warning">Phone Number    :   {{ member.phone_number }}</p>
                <p class="card-text text-secondary"><i>Email Address    :   {{ member.staff_email }}</i></p>
                <p class="card-text text-danger"><small class="text-muted"><i>Last updated {{ member.updated_at }}</i></small></p>
                <a href="/HealthNet/Staff/edit_member/{{ member.id }}/" class="btn btn-info">Edit</a>
                <a href="/HealthNet/Staff/delete_member/{{ member.id }}/" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</ul>
{% endblock %}
