{% extends "HealthNet/base.html" %}

{% block content %}
{% for staff in staff %}
<div class="container card mb-3" style="max-width: 580px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            {% if staff.picture %}
            <img src="{{ staff.picture.url }}" class="card-img im-responsive" alt="Image Coming Up" height="40" width="50">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-info">{{ staff.prefix }} {{ staff.first_name }} {{ staff.last_name }}</h5>
                <p class="card-text text-success">Qualification    :   {{ staff.qualification }}</p>
                <p class="card-text text-dark">Specialty    :   {{ staff.specialty }}</p>
                <p class="card-text text-info">Identification    :   {{ staff.identification_id }}</p>
                <p class="card-text text-warning">Phone Number    :   {{ staff.phone_number }}</p>
                <p class="card-text text-secondary">Email Address    :   {{ staff.Email }}</p>
                <p class="card-text text-danger"><small class="text-muted">Last updated {{ staff.updated_at }}</
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}
