{% extends "HealthNet/base.html" %}

{% block content %}
	<h3 class="card-title">{{ title }}</h3>
	<a href="/HealthNet/patients/patient_form/" style="float: right; margin-bottom: 20px;" class="btn btn-warning btn-sm">Add New Patient</a>
	<table class="table table-striped table-dark">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Full Name</th>
	      <th scope="col">Phone #</th>
	      <th scope="col">Date of Visit</th>
		  <th scope='col'>Action</th>
	    </tr>
	  </thead>
	  {% for patient in patients %}
	  <tbody>
	    <tr>
	      <th scope="row">{{ forloop.counter }}</th>
	      <td>{{ patient.first_name }} {{ patient.last_name }}</td>
	      <td>{{ patient.phone_number }}</td>
		  <td>{{ patient.date_of_visit }}</td>
		  <td><a href="/HealthNet/patients/patient_info/{{ patient.id }}" class="btn btn-success btn-sm">View</a></td>
	    </tr>
	  </tbody>
	  {% endfor %}
	</table>
{% endblock %}
