{% load static  %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!-- My style -->
<link type="text/css" rel="stylesheet" href="{% static 'css/footer.css' %}" media="screen, projection">


<!--footer starts from here-->
<footer class="container footer">
<div class="container bottom_border">
<div class="row">
<div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
<!--headin5_amrc-->
<p class="mb10">We are a medical health services provider startup. Our goal is to make the recording, safeguarging, making available online medical information a necessity for the progress of man-kind. </p>
<p><i class="fa fa-location-arrow"></i> Bulawayo </p>
<p><i class="fa fa-phone"></i>  +263 77 123 4567  </p>
<p><i class="fa fa fa-envelope"></i> info@promedical.com  </p>


</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="/HealthNet/">Homepage</a></li>
<li><a href="/HealthNet/patients/view_all/">See Patients</a></li>
<li><a href="/HealthNet/staff/all_members/">See Staff</a></li>
<li><a href="/HealthNet/doctors/all/">See Doctors</a></li>
<li><a href="/HealthNet/doctors/add_doctor/">Add a new Doctor</a></li>
<li><a href="/HealthNet/patients/statistics/">Check Reports</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-6 col">
<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
<!--headin5_amrc-->
<ul class="footer_ul_amrc">
<li><a href="/HealthNet/staff/new_member/">Add Staff Member</a></li>
<li><a href="/HealthNet/patients/patient_form/">Add Patient</a></li>
</ul>
<!--footer_ul_amrc ends here-->
</div>


<div class=" col-sm-4 col-md  col-12 col">
<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
<!--headin5_amrc ends here-->

<ul class="footer_ul2_amrc">
<li><a href="https://twitter.com/"><i class="fab fa-twitter fleft padding-right"></i> </a><p><a href="https://twitter.com/andilejaden/">Follow us</a></p></li>
<li><a href="https://facebook.com/"><i class="fab fa-facebook fleft padding-right"></i> </a><p><a href="https://www.facebook.com/andilejaden.mbele/">Like our page</a></p></li>
<li><a href="https://linkedin.com/"><i class="fab fa-linkedin fleft padding-right"></i> </a><p><a href="https://www.linkedin.com/andilejaden/">Connect with us</a></p></li>
</ul>
<!--footer_ul2_amrc ends here-->
</div>
</div>
</div>


<div class="container">
<ul class="foote_bottom_ul_amrc">
<li><a href="/HealthNet/">Home</a></li>
<li><a href="/HealthNet/about/">About</a></li>
<li><a href="/admin/">Admin</a></li>
<li><a href="/HealthNet/contact/">Contact</a></li>
</ul>
<!--foote_bottom_ul_amrc ends here-->
<p class="text-center">Cyber Tech &copy; <script type="text/javascript">var now = new Date(); year = now.getFullYear() ; document.write(year);</script> | All Rights Reserved.</p>
<p class='text-center'><script type="text/javascript">var now = new Date().toString(); document.write(now);</script></p>
<p class='text-center'>Coded and Designed by <a style="color: red;" href="https://github.com/xeroxzen/">Andile Jaden aka Google Jr</a></p>

<ul class="social_footer_ul">
<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>
<!--social_footer_ul ends here-->
</div>

</footer>
