<!-- Footer -->
       <footer class="page-footer font-small mdb-color lighten-3 pt-4 fixed">

         <!-- Footer Elements -->
         <div class="container">

           <!--Grid row-->
           <div class="row">

             <!--Grid column-->
             <div class="col-lg-2 col-md-12 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/51004/medications-cure-tablets-pharmacy-51004.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-lg-2 col-md-6 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-lg-2 col-md-6 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/60022/microscope-slide-research-close-up-60022.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-lg-2 col-md-12 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/48603/pexels-photo-48603.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-lg-2 col-md-6 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/48604/pexels-photo-48604.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

             <!--Grid column-->
             <div class="col-lg-2 col-md-6 mb-4">

               <!--Image-->
               <div class="view overlay z-depth-1-half">
                 <img src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg" class="img-fluid"
                   alt="">
                 <a href="">
                   <div class="mask rgba-white-light"></div>
                 </a>
               </div>

             </div>
             <!--Grid column-->

           </div>
           <!--Grid row-->

         </div>
         <!-- Footer Elements -->

         <!-- Copyright -->
         <div class="footer-copyright text-center py-3">Cyber Tech &copy; <script type="text/javascript">var now = new Date(); year = now.getFullYear() ; document.write(year);</script> | All Rights Reserved. <br>
             <script type="text/javascript">var now = new Date().toString(); document.write(now);</script> <br>
           <h6>Coded and Designed by <a style="color: red;" href="https://github.com/xeroxzen/">Andile Jaden aka Google Jr</a></h6>
         </div>
         <!-- Copyright -->

       </footer>
       <!-- Footer -->
