    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/HealthNet/">{{ project_name }}</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li {% if request.path == '/' %} class="nav-item active" {% endif %} >
            <a class="nav-link disabled" href="/" aria-expanded="disabled">Home <span class="sr-only"></span></a>
          </li>
          <li {% if request.path == '/HealthNet/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/">Admin<span class="sr-only"></span></a>
          </li>
          <li {% if request.path == '/HealthNet/patients/patient_form/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/patients/patient_form/">Add Patient</a>
          </li>
          <li {% if request.path == '/HealthNet/patients/view_all/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/patients/view_all/">View All Patients</a>
          </li>
          <li {% if request.path == '/HealthNet/patients/get_reports/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/patients/get_reports/">Get Reports</a>
          </li>
          <li {% if request.path == '/HealthNet/GetInTouch/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/GetInTouch/">Contact</a>
          </li>
          <li {% if request.path == '/HealthNet/messages/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/messages/">Messages</a>
          </li>
          <li {% if request.path == '/HealthNet/staff/doctors/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/staff/doctors/" tabindex="-1">Check Doctors</a>
          </li>
          <li {% if request.path == '/admin/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/admin/" tabindex="-1">Super Admin</a>
          </li>
          <li {% if request.path == '/HealthNet/staff/doctors/' %} class="nav-item active" {% endif %}>
            <a class="nav-link" href="/HealthNet/staff/doctors/" tabindex="-1">Logged In as {{ accounts.MyUser }}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
