<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
    
	<title>Cyber Tech | {{ title }} </title>
	
    {% load staticfiles %}
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.min.css' %}" media="screen, projection">


    <!-- Compiled stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{% static 'font/css/font-awesome.min.css' %}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'font/fonts/fontawesome-webfont.svg' %}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">
<!-- Font Awesome -->
<link href="{% static 'font/css/font-awesome.min.css' %}" rel="stylesheet">

	
</head>
<body>
	<br>


	<nav class="container">
	<div class="nav-wrapper grey-text light-blue lighten-3">
		<h6 class="brand-logo left">Victoria Falls Medical</h6>
		<a href="#!" data-activates="mobile-demo" class="button-collapse"></i></a>
		<!-- <ul class="right hide-on-med-and-down">
			<li {% if request.path == "/" %} class="active" {% endif %}><a href="/">Home</a></li>

			<li {% if request.path == "/register/" %} class="active" {% endif %}><a href="/register/">Register</a></li>

			<li {% if request.path == "/login/" %} class="active" {% endif %}><a href="/login/">Login</a></li>

			<li {% if request.path == "/admin/" %} class="active" {% endif %}><a href="/patients/add_patient">Add New Patient</a></li>
			<li {% if request.path == "/admin/" %} class="active" {% endif %}><a href="patients/view_all">View All Patients</a></li>
			<li {% if request.path == "/admin/" %} class="active" {% endif %}><a href="patients/">Patients Dashboard</a></li>
		</ul> -->
		</div>
	</nav>
    <div class="container">
		<hr>
		{% block content %}
			
		{% endblock %}
		
		<hr>		
	</div>
   <footer class="container-fluid page-footer light-blue lighten-3">
   	<div class="container">
   	 <div class="card light-blue lighten-3 hoverable">
    			<div class="card-content white-text">
    				<span class="card-title">Footer Information</span>
    				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    			</div>
    		</div>
   	</div>
   	
		<div class="footer-copyright grey darken-4">
		<div class="container center-align">Cyber Tech &copy; <script type="text/javascript">var now = new Date(); year = now.getFullYear() ; document.write(year);</script> | All Rights Reserved.

		<p>
		 	<script type="text/javascript">var now = new Date().toString(); document.write(now);</script>
		</p>
		</div>	
   </footer>

		{% load staticfiles %}
		<script type="text/javascript" src="{ % static 'js/materialize.min.js' % }"></script>
		<script type="text/javascript" src="{ % static 'js/jquery.min.js' % }"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script>
			$(document).ready(function(){
				$(".sidenav").sidenav();
				$(".button-collapse").sideNav();
			});
		</script>
	 
  </body>
</html>