<!DOCTYPE html>
<html>
<head>
	<title>Doctors</title>

	{% load staticfiles %}
	<link href="{% static 'assets/img/favicon/favicon.png' %}" rel="shortcut icon"/>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.min.css' %}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen, projection">

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

</body>
</html>