{% csrf_token %}

<!DOCTYPE html>
<html>
<head>
	<title>Patient Added</title>

	{% load staticfiles %}
	<link href="{% static 'assets/img/favicon/favicon.png' %}" rel="shortcut icon"/>
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.min.css' %}" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen, projection">

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script type="text/javascript">
    	
    	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
    </script>
</head>
	{% block content %}
<body>
	
	<div class="container">
		<div class="row">
			<p>Patient Successfully added into the database</p>
		</div>
	</div>
</body>
</html>
	{% endblock  %}