{% extends "patients/base.html" %}

{% block content %}

	<div class="container">
		<div class="row">
			<h4 class="left light-blue-text lighten-1">All Patients</h4>
		</div>	
	  <div class="collection">
        <a href="/patients/detail_patient.html" class="collection-item">Andile Jaden</a>
        <a href="details.html" class="collection-item active">Mirna Culbert</a>
        <a href="details.html" class="collection-item">Scott Crumley</a>
        <a href="details.html" class="collection-item">Reyna Finkbeiner</a>
        <a href="details.html" class="collection-item">Margit Finnie</a>
        <a href="details.html" class="collection-item active">Reagan Harville</a>
        <a href="details.html" class="collection-item">Elise Rickett</a>
        <a href="details.html" class="collection-item">Lourie Gurrola</a>
        <a href="details.html" class="collection-item">Jodi Lambson</a>
        <a href="details.html" class="collection-item active">Cathey Roiger</a>
        <a href="#!" class="collection-item">Freddy Linsey</a>
        <a href="#!" class="collection-item">Kacy Somers</a>
        <a href="#!" class="collection-item">Lynna Lehrman</a>
        <a href="#!" class="collection-item active">Brice Edgerly</a>
        <a href="#!" class="collection-item">Detra Mounce</a>
        <a href="#!" class="collection-item">Shelia Poll</a>
        <a href="#!" class="collection-item">Analia Tesat</a>
        <a href="#!" class="collection-item">Beatris Diego</a>

        <a href="#!" class="collection-item">Myrtie Dauer</a>
        <a href="#!" class="collection-item">Kendall Margolis</a>

        <a href="#!" class="collection-item">Christen Deramus</a>
        <a href="#!" class="collection-item">Delia Voges</a>
        <a href="#!" class="collection-item">Krystal Pesola</a>
        <a href="#!" class="collection-item">Amal Berke</a>
        <a href="#!" class="collection-item">Ena Baltes</a>
        <a href="#!" class="collection-item">Lashanda Chiou</a>
        <a href="#!" class="collection-item">Neida Pompa</a>
        <a href="#!" class="collection-item">Kazuko Dimmick</a>
        <a href="#!" class="collection-item">Jolyn Pittenger</a>

        <a href="#!" class="collection-item">Geraldo Erwin</a>
        <a href="#!" class="collection-item">Ellen Loiselle</a>

      </div>
  </div>
  {% endblock content %}